.nav-link {
  color: #40476d !important;
  cursor: pointer;
}
.nav-link:hover {
  color: whitesmoke !important;
  background-color: #23395b !important;
  cursor: pointer;
}
fa {
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
}
