<body class="navbar-expand-md">
  <div class="container-fluid fixed-top bg-dark" *ngIf="auth.isLoggedIn">
    <div class="row collapse show no-gutters d-flex h-100 position-relative">
      <div class="col-3 px-0 w-sidebar navbar-collapse collapse d-none d-md-flex">
        <!-- spacer col -->
        <a [routerLink]="['/']" class="navbar-brand">
          S.E
        </a>
      </div>
      <div class="col px-3 px-md-0 py-3">
        <!-- toggler -->
        <a data-toggle="collapse" data-target=".collapse" role="button" class="menuIcon">
          <fa name="bars"></fa>
        </a>
      </div>
      <div class="col px-3 px-md-0 py-3 ">
        <a class="btn btn-outline-light btn-sm float-right" (click)="showExitPopUp()">
          {{auth.getUserInfo.userName.toUpperCase()}}
          <fa name="sign-out"></fa>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid px-0 h-100 container-fix">
    <div class="row vh-100 collapse show no-gutters d-flex h-100 position-relative">
      <div class="col-3 p-0 vh-100 h-100 text-white w-sidebar navbar-collapse collapse d-none d-md-flex sidebar" *ngIf="auth.isLoggedIn">
        <!-- fixed sidebar -->
        <div class="navbar-light bg-light position-fixed h-100 w-sidebar">
          <app-leftMenu></app-leftMenu>
        </div>
      </div>
      <div class="col p-5 vh-100 h-100 ">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</body>
<app-popUp #popUp></app-popUp>